DATABASE_URL="postgresql://migtorg:migtorg@localhost:5432/migtorg_school?schema=public"
API_HOST="127.0.0.1"
API_PORT="4000"
FRONTEND_ORIGIN="http://127.0.0.1:5173"
COOKIE_SECRET="replace-with-a-long-random-secret"
COOKIE_SECURE="false"
S3_REGION="ru-central1"
S3_ENDPOINT=""
S3_BUCKET=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
